.cartLabel {
  color: red
}

.productContainer {
  display: flex;
  flex-direction: row; /* Default value: aligns items horizontally */
  
  align-items: center; /* Aligns items vertically in the center */
  flex-wrap: wrap;
}

.productImage {
  
    width: 100px; 
    height: auto; 
  
}